<div class="body">
	<div class="contain">
		<!-- 検索フォーム -->
		<label>都市名</label>
		<input type="text" id="cityname" size="14" maxlength="14" placeholder="Tokyo">
		<button id="btn" class="btn btn-info active btn-xs">検索</button><br>

		<!-- 検索結果 -->
		<table class="table table-condensed">
		<thead>
			<tr>
				<th><span>場所</span></th>
				<th><span>最高気温</span></th>
				<th><span>最低気温</span></th>
				<th><span>湿度</span></th>
				<th><span>風速</span></th>
				<th><span><span>天気</span></span></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><span id="place"></span></td>
				<td><span id="temp_max"></span><span> ℃</span></td>
				<td><span id="temp_min"></span><span> ℃</span></td>
				<td><span id="humidity"></span><span> %</span></td>
				<td><span id="speed"></span><span> m/s</span></td>
				<td>
					<span id="icon"><img id="img"></span>
				</td>
			</tr>
		</tbody>
		</table>
	</div>
</div>